{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="container">
    {% include'includes/service.html.twig' %}
    {% include'includes/about.html.twig' %}
    {% include'includes/categories.html.twig' %}
    {% include'includes/cours.html.twig' %}
    {% include'includes/team.html.twig' %}
    {% include'includes/testimonial.html.twig' %}
</div>
{% endblock %}
